@model WebApplication3_codefirst_Empdepdsg_layout_101.Models.Employee
@{
     Layout = "~/Views/Shared/_Layout-cyborg.cshtml";
}

<h2 class="text-primary text-center"></h2>
<table class="table table-active table-striped table-active">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Address</td>
            <td>@Model.Salary</td>
            <td>@Model.Department.Name</td>
            <td>@Model.Designation.Name</td>
        </tr>
    </tbody>
</table>
@Html.ActionLink("Edit", "Upsert", new { id = Model.Id }, new { @class = "btn btn-success" })
@Html.ActionLink("Back to List", "Index", new { @class = "btn btn-info" })